.main-container {
  max-width: 1200px;
  background-color: #b0e0e6;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.main-header h4 {
  color: #f98173;
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-photo {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.card-img img {
  height: 350px;
  width: 300px;
  object-fit: cover;
}

.card-box h4 {
  color: #f98173;
}
.card-box {
  background-color: #fff;
  padding: 1.5rem;
}
.footer {
  max-width: 1200px;
  margin: 0 auto;
  height: 75px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer p {
  color: rgb(245, 241, 237);
}

.footer a {
  color: azure;
}
.footer a:hover {
  color: bisque;
}
